$header-height: 70px;

ul {
  @extend %unstyled-list;
  width: 100%;
}

.container {
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  margin: 0 auto;
  @extend %clearfix;
}

.item-controls {
  float: left;
  margin: 10px 30px;
  .button,
  #item-count {
    float: left;
    margin-left: 0;
  }

  .button {
    z-index: 100;
    background: none;
    border: none;

    svg { fill: $mid-grey; }

    &:hover svg { fill: darken($mid-grey, 15) }
    &:active svg { fill: $off-black; }

    &:first-child { @include border-radius(4px, 0, 0, 4px); }
    &:last-child { @include border-radius(0, 4px, 4px, 0); }
  }

  #item-count {
    width: 52px;
    height: 30px;
    background: $white;
    margin: 0 -1px;
    border: 1px solid $light-grey;
    @include border-radius-all(2px);
    text-align: center;
    line-height: 31px;
    font-size: 18px;
    @extend %source-sans-semibold;
  }
}

.button {
  width: 30px;
  height: 30px;
  padding: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  svg {
    width: 30px;
    height: 30px;
  }
}

.main-header {
  position: relative;
  width: 100%;
  height: $header-height;
  padding: 0 20px;
  background: $blue;
  @include box-shadow(0 2px 3px rgba($off-black, .2));
  z-index: 1000;

  h1 {
    @include font-size(2.8);
    text-shadow: 1px 1px 2px rgba($off-black, .2);
    color: $white;
    margin: 0;
    line-height: $header-height + 4px;
  }
}

.section-header {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 52px;
  text-align: left;
  text-transform: uppercase;
  @extend %source-sans-semibold;
  color: $dark-grey;
  border-bottom: 1px solid $mid-grey;
  margin-bottom: 20px;
  padding: 0 20px;
  z-index: 50;
}

.input-colors {
  position: absolute;
  top: $header-height;
  width: 300px;
  bottom: 0;
  left: 0;
  background: $light-grey;
  padding: 0;
  border-right: 1px solid $mid-grey;
  @include box-shadow(2px 0 3px rgba($off-black, .2));
  z-index: 100;

  .input-form {
    position: relative;
    width: 260px;
    margin-left: 20px;
    height: 50px;

    input[type="text"] {
      position: absolute;
      top: 0;
      width: 260px;
      bottom: 0;
      left: 0;
      padding: 0 50px 0 10px;
      font-size: 25px;
      background: $white;
      border: 1px solid $mid-grey;
      @include border-radius-all(4px);
    }

    .button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.color-swatches {
  display: block;
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 300px;
  right: 0;
  // padding: 50px 20px 20px;
  background: $white;
  overflow: auto;

  .section-header {
    padding: 0 20px;
    background: darken($off-white, 5);
    background: $white;
    color: $mid-grey;
    border-bottom: 1px solid $light-grey;

    span {
      float: left;
    }
  }

  > ul {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 70px 150px 20px 20px;
    @extend %unstyled-list;
    overflow: auto;

    li {
      display: block;
      float: left;
      width: percentage(1/6);
      padding: 24px 10px 22px 10px;
      border: 5px solid $white;
      text-align: center;
    }
  }
}

.hex-values-box {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 130px;
  background: $off-white;
  // padding: 50px 10px 20px;

  &:before {
    display: block;
    content: 'Values';
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 30px;
    text-transform: uppercase;
    @include font-size(1.4);
    @extend %source-sans-semibold;
    color: $mid-grey;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid $light-grey;
    line-height: 32px;
    background: $off-white;
    z-index: 100;
  }

  ul {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 130px;
    @extend %unstyled-list;
    overflow: auto;
    padding: 40px 10px 10px;

    li {
    position: relative;
    width: 100%;
    height: 25px;
    padding: 0 10px 0 30px;
    line-height: 26px;

    .swatch {
      display: block;
      position: absolute;
      top: 5px;
      left: 10px;
      bottom: 5px;
      width: 15px;
      background: $white;
      @include border-radius-all(15px);
    }

    &:last-child .comma { display: none; }
  }
  }
}