$header-height: 40px;

ul {
  @extend %unstyled-list;
  width: 100%;
}

.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  @include box-shadow(0 0 2px 2px rgba($off-black, .2));
}

.container {
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  margin: 0 auto;
  @extend %clearfix;
}

.item-controls {
  float: left;
  margin: 10px 30px;
  .button,
  #item-count {
    float: left;
    margin-left: 0;
  }

  .button {
    z-index: 100;
    background: none;
    border: none;

    svg { fill: $mid-grey; }

    &:hover svg { fill: darken($mid-grey, 15) }
    &:active svg { fill: $off-black; }

    &:first-child { @include border-radius(4px, 0, 0, 4px); }
    &:last-child { @include border-radius(0, 4px, 4px, 0); }
  }

  #item-count {
    width: 52px;
    height: 30px;
    background: $white;
    margin: 0 -1px;
    border: 1px solid $light-grey;
    @include border-radius-all(2px);
    text-align: center;
    line-height: 31px;
    font-size: 18px;
    @extend %source-sans-semibold;
  }
}

.button {
  width: 30px;
  height: 30px;
  padding: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  svg {
    width: 30px;
    height: 30px;
  }
}

.main-header {
  position: relative;
  width: 100%;
  height: $header-height;
  // padding: 0 20px;
  background: $blue;
  background: darken($dark-grey, 20);
  @include box-shadow(0 2px 3px rgba($off-black, .2));
  z-index: 1000;

  .icon,
  h1 { float: left; }

  .icon {
    width: $header-height - 20px;
    height: $header-height - 20px;
    margin-top: 10px;
    margin-left: 10px;
    // background: url('/assets/img/switch-swatch-icon.png');
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    margin-right: 10px;
  }

  h1 {
    @include font-size(1.8);
    text-transform: uppercase;
    @extend %source-sans-semibold;
    letter-spacing: 1px;
    color: $dark-grey;
    margin: 2px 0 0 0;
    @extend %vertical-align;
  }
}

.info-dropdown {
  position: relative;
  float: right;
  width: auto;
  height: auto;

  .info-toggle {
    padding: 5px;
    width: $header-height;
    height: $header-height;
    background: darken($dark-grey, 10);
    border: none;

    svg { fill: $off-black; }

    &:hover {
      cursor: pointer;
      background: lighten($dark-grey, 10);
    }

    &:focus { outline: none; }
  }

  .info-content {
    position: absolute;
    top: -1000px;
    right: 0;
    padding: 30px 30px 10px 30px;
    min-width: 320px;
    min-height: 100px;
    background: $white;
    border: 1px solid $light-grey;
    @include box-shadow(2px 2px 3px rgba($off-black, .2));
    @include transition(300ms ease all);

    .info-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      padding: 0;
      background: none;
      border: none;

      svg { fill: $light-grey; }

      &:focus { outline: none; }

      &:hover {
        cursor: pointer;

        svg { fill: $dark-grey; }
      }
    }

    p { margin: 0 0 10px 0; }

    hr {
      border: none;
      border-top: 1px solid $light-grey;
    }

    h5 {
      text-transform: uppercase;
      color: $light-grey;
      @include font-size(1.4);
      @extend %source-sans-semibold;
      margin-bottom: 10px;
    }

    ol {
      display: block;
      width: 100%;
      height: auto;
      @extend %clearfix;
      border-bottom: none;
      -moz-list-style: none none none;
      -moz-margin-before: 0;
      -moz-margin-after: 0;
      -moz-margin-start: 0;
      -moz-margin-end: 0;
      -moz-padding-start: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      -webkit-padding-start: 0;
      padding-left: 20px;
      margin-bottom: 30px;
      color: $dark-grey;

      li {
        margin-bottom: 10px;
        line-height: 1.3em;
      }
    }

    footer {
      text-align: center;
      width: 100%;
      height: 30px;
      line-height: 30px;

      a {
        text-transform: uppercase;
        @include font-size(1.4);
        @extend %source-sans-semibold;
      }
    }
  }

  &.open {
    .info-toggle { background: none; }
    .info-content {
      display: block;
      top: 0;
      @include transition(500ms ease all);
    }
  }
}

.section-header {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 52px;
  text-align: left;
  text-transform: uppercase;
  @extend %source-sans-semibold;
  color: $dark-grey;
  border-bottom: 1px solid $mid-grey;
  margin-bottom: 20px;
  padding: 0 20px;
  z-index: 50;
}

.input-colors {
  position: absolute;
  top: $header-height;
  width: 300px;
  bottom: 0;
  left: 0;
  background: $light-grey;
  padding: 0;
  border-right: 1px solid $mid-grey;
  @include box-shadow(2px 0 3px rgba($off-black, .2));
  z-index: 100;

  .input-form {
    position: relative;
    width: 260px;
    margin-left: 20px;
    height: 50px;

    input[type="text"] {
      position: absolute;
      top: 0;
      width: 260px;
      height: 50px;
      bottom: 0;
      left: 0;
      padding: 5px 50px 0 10px;
      font-size: 25px;
      background: $white;
      border: 1px solid $mid-grey;
      @include border-radius-all(4px);
    }

    .button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

#starting-swatches {
  position: absolute;
  top: 140px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background: $white;
  overflow: auto;

  .starting-swatch,
  .sortable-placeholder {
    position: relative;
    width: 69px;
    height: 89px;
    margin: 5px;
    float: left;
    padding: 10px;
    @include border-radius-all(4px);
    @include box-shadow(1px 1px 2px rgba($off-black, .4));
    overflow: hidden;
    @include transition(all ease 200ms);

    &:hover { cursor: move; }

    &:nth-child(3n) { margin-right: 0; }

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($off-black, .4);
      color: $white;
      @include font-size(1.2);
      padding: 8px 0 5px;
      display: block;
      text-align: center;
      width: 100%;
      @include border-radius(0, 0, 4px, 4px);
    }

    svg {
      position: absolute;
      top: -30px;
      right: 0;
      width: 20px;
      height: 20px;
      background: rgba($off-black, .4);
      fill: $white;
      @include border-radius(0, 4px, 0, 0);
      @include transition(top ease 200ms);
    }

    &:hover {

      svg {
        top: 0;
        display: block;

        &:hover {
          cursor: pointer;
          background: $red;
        }

        &:active { background: darken($red, 10); }
      }
    }
  }

  .sortable-placeholder {
    background: $light-grey;
    @include box-shadow(none);
  }
}

.color-swatches {
  display: block;
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 300px;
  right: 0;
  background: $white;
  overflow: auto;

  .section-header {
    padding: 0 20px;
    background: darken($off-white, 5);
    background: $white;
    color: $mid-grey;
    border-bottom: 1px solid $light-grey;

    span {
      float: left;
    }
  }

  > ul {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 70px 150px 20px 20px;
    @extend %unstyled-list;
    overflow: auto;

    li {
      display: block;
      position: relative;
      text-align: center;

      span {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include font-size(1.2);
        padding: 8px 0 5px;
        display: block;
        text-align: center;
        width: 100%;
      }
    }

    &.grid-view {
      li {
        float: left;
        width: 19%;
        margin: 0 .5% 1% .5%;
        height: 100px;
        @include border-radius-all(4px);
        @include box-shadow(1px 1px 2px rgba($off-black, .4));
        overflow: hidden;

        span {
          background: rgba($off-black, .4);
          color: $white;
          @include border-radius(0, 0, 4px, 4px);
        }
      }
    }

    &.bar-chart-view {
      top: 100px;
      bottom: auto;
      height: 400px;
      overflow-y: visible;
      overflow-x: auto;
      white-space: nowrap;
      background: $orange;

      li {
        bottom: -100px;
        display: inline-block;
        width: 70px;
        height: 150px;
        margin: 0;
        border-right: 20px solid $white;
        // border-left: 20px solid $white;

        span {
          bottom: -50px;
          border-right: 1px solid $mid-grey;
          color: $off-black;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
      }
    }
  }
}

.hex-values-box {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 130px;
  background: $off-white;
  // padding: 50px 10px 20px;

  &:before {
    display: block;
    content: 'Values';
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 30px;
    text-transform: uppercase;
    @include font-size(1.4);
    @extend %source-sans-semibold;
    color: $mid-grey;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid $light-grey;
    line-height: 32px;
    background: $off-white;
    z-index: 100;
  }

  ul {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 130px;
    @extend %unstyled-list;
    overflow: auto;
    padding: 40px 10px 10px;

    li {
    position: relative;
    width: 100%;
    height: 25px;
    padding: 0 10px 0 30px;
    line-height: 26px;

    .swatch {
      display: block;
      position: absolute;
      top: 5px;
      left: 10px;
      bottom: 5px;
      width: 15px;
      background: $white;
      @include border-radius-all(15px);
    }

    &:last-child .comma { display: none; }
  }
  }
}