/* GitHub Theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln { color: #333333; }

@media screen {
  .str { color: #dd1144; } // string content
  .kwd { color: #333333; } // a keyword
  .com { color: #999988; } // a comment
  .typ { color: #445588; } // a type name
  .lit { color: #445588; } // a literal value
  .pun { color: #333333; } // punctuation
  .opn { color: #333333; } // lisp open bracket
  .clo { color: #333333; } // lisp close bracket
  .tag { color: navy; } // a markup tag name
  .atn { color: teal; } // a markup attribute name
  .atv { color: #dd1144; } // a markup attribute value
  .dec { color: #333333; } // a declaration
  .var { color: teal; } // a variable name
  .fun { color: #990000; } // a function name
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #006600; }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit { color: #004444; }

  .pun, .opn, .clo { color: #444400; }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn { color: #440044; }

  .atv { color: #006600; }
}
/* Style */
pre.prettyprint {
  position: relative;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  @include font-size(1.4);
  line-height: 1.5;
  width: 100%;
  border: 5px solid $white;
  display: block;
  background: lighten($blue, 54);
  padding: 20px;
  margin: 0 0 58px;
  white-space: pre-wrap;
  // word-wrap: break-word;
  // white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  &.lang-css,
  &.lang-haml,
  &.lang-html {
    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      padding: 4px 8px;
      background: lighten($blue, 45);
      text-transform: uppercase;
      color: lighten($blue, 15);
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  &.lang-css:after { content: 'CSS'; }
  &.lang-haml:after { content: 'HAML'; }
  &.lang-html:after { content: 'HTML'; }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}